@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400&subset=cyrillic-ext,latin);
html,
body {height:100%;}
body {margin:0; padding:0; font-family: Roboto; font-size:18px; line-height:1.4; color:#3b3b3b; background: #fff }
a img {border:0;}

.jumbotron
{
	margin-bottom: 0px !important;
}
.hello {
  color: #fff;
}


.container-fl{
    height:100%;
    display:table;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
    float:none;
    margin:0 auto;
}
.well-sm
{
	margin-top: 10px;
}
.login-form{
    width: 400px;
}
.form-control {
    margin-bottom: 5px;
}
.form-signin-heading {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: normal;
    font-size: 14px;
}
.panel-link {
    width: 300px;
}
.left_container,
.center_container{
    padding-left: 0 !important;
}
.center_container {
    padding-right: 0 !important;
}
.page-header {
    margin-top: 0 !important;
}
.aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 47em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.aligner .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.panel-link a{
    margin-bottom: 20px
}
.reason {
    display: none;
}
.pm_buttons {
    margin: 5px;
}
.list tr td:first-child {
    font-weight: bold;
}
.right-panel {
    padding: 10px 0;
    margin: 0;
}
.nobottompadding {
    padding-bottom: 0 !important;
}
.feedback-ticket {
    padding: 10px 0 !important;
}
.list-group-item-right {
    text-align: right;
}
.ticket_status_msg {
    display: none;
}
.padding-lect-panel {
    padding-left: 15px;
}