@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot)/*tpa=http://fonts.gstatic.com/s/badscript/v5/xvnrV3H3fZsc-fSw6fOJeFQlYEbsez9cZjKsNMjLOwM.eot*/;
}
