.ico.paysystem_yandex { width: 130px; height: 55px; background-position: 0px -431px; }
.ico.paysystem_cards { width: 130px; height: 41px; background-position: 0px -390px; }
.ico.paysystem_webmoney_large { width: 130px; height: 35px; background-position: 0px -355px; }
.ico.email_gray { width: 58px; height: 58px; background-position: 0px -296px; }
.ico.phone_connected_gray { width: 55px; height: 55px; background-position: -58px -296px; }
.ico.paysystem_bank { width: 93px; height: 30px; background-position: 0px -187px; }
.ico.paysystem_qiwi { width: 84px; height: 32px; background-position: 0px -155px; }
.ico.paysystem_phone { width: 83px; height: 29px; background-position: 0px -30px; }
.ico.paysystem_webmoney { width: 90px; height: 26px; background-position: 0px -4px; }
.ico.paysystem_yamdex { width: 61px; height: 30px; background-position: 0px -105px; }
.ico.paysystem_visa { width: 70px; height: 26px; background-position: -84px -133px; }
.ico.pipedrive { width: 90px; height: 20px; background-position: -33px -217px; }
.ico.yandex { width: 42px; height: 42px; background-position: -113px -296px; }
.ico.bag_orange { width: 41px; height: 41px; background-position: -93px -159px; }
.ico.paysystem_mastercard { width: 52px; height: 32px; background-position: -61px -97px; }
.ico.accept_pay_billing { width: 40px; height: 41px; background-position: -130px -445px; }
.ico.bag { width: 40px; height: 41px; background-position: -130px -404px; }
.ico.chain { width: 40px; height: 41px; background-position: -130px -363px; }
.ico.chart_plus { width: 40px; height: 41px; background-position: -134px -159px; }
.ico.chart_up { width: 40px; height: 41px; background-position: -123px 0px; }
.ico.cut { width: 40px; height: 41px; background-position: -83px -40px; }
.ico.design { width: 40px; height: 41px; background-position: -123px -41px; }
.ico.domain { width: 40px; height: 41px; background-position: -155px -319px; }
.ico.footer { width: 40px; height: 41px; background-position: -123px -200px; }
.ico.history { width: 40px; height: 41px; background-position: -163px 0px; }
.ico.invoice { width: 40px; height: 41px; background-position: -170px -442px; }
.ico.invoice_list { width: 40px; height: 41px; background-position: -170px -401px; }
.ico.list_purple { width: 40px; height: 41px; background-position: -170px -360px; }
.ico.makeup { width: 40px; height: 41px; background-position: -174px -147px; }
.ico.moneybag_orange_eur { width: 40px; height: 41px; background-position: -154px -82px; }
.ico.moneybag_orange_ru { width: 40px; height: 41px; background-position: -163px -41px; }
.ico.money_green_ru { width: 40px; height: 41px; background-position: 0px -253px; }
.ico.money_green_us { width: 40px; height: 41px; background-position: -80px -237px; }
.ico.phone_green { width: 40px; height: 41px; background-position: -40px -237px; }
.ico.shop { width: 40px; height: 41px; background-position: -155px -278px; }
.ico.statistic { width: 40px; height: 41px; background-position: -163px -206px; }
.ico.arrow_left_down_gray { width: 33px; height: 36px; background-position: 0px -217px; }
.ico.cp_button { width: 60px; height: 18px; background-position: -58px -278px; }
.ico.select_color { width: 60px; height: 18px; background-position: 0px -135px; }
.ico.status_active { width: 33px; height: 32px; background-position: -120px -264px; }
.ico.status_archive { width: 33px; height: 32px; background-position: -194px -112px; }
.ico.status_copying { width: 33px; height: 32px; background-position: -195px -324px; }
.ico.status_draft { width: 33px; height: 32px; background-position: -195px -292px; }
.ico.status_inactive { width: 33px; height: 32px; background-position: -195px -260px; }
.ico.status_moderation { width: 33px; height: 32px; background-position: -203px -228px; }
.ico.status_rejected { width: 33px; height: 32px; background-position: -203px 0px; }
.ico.status_stop { width: 33px; height: 32px; background-position: -210px -451px; }
.ico.status_importing { width: 33px; height: 32px; background-position: -210px -419px; }
.ico.ok_green { width: 32px; height: 32px; background-position: -210px -387px; }
.ico.social_fb { width: 26px; height: 26px; background-position: -194px -86px; }
.ico.social_gp { width: 26px; height: 26px; background-position: -203px -60px; }
.ico.social_inst { width: 26px; height: 26px; background-position: -203px -202px; }
.ico.social_tw { width: 26px; height: 26px; background-position: -214px -172px; }
.ico.social_vk { width: 26px; height: 26px; background-position: -210px -361px; }
.ico.social_yt { width: 26px; height: 26px; background-position: -90px -14px; }
.ico.export_white { width: 25px; height: 25px; background-position: -130px -338px; }
.ico.import_white { width: 25px; height: 25px; background-position: -153px -253px; }
.ico.add_white { width: 25px; height: 24px; background-position: -214px -148px; }
.ico.ok_white { width: 24px; height: 24px; background-position: -113px -109px; }
.ico.calltracking { width: 22px; height: 24px; background-position: -56px -59px; }
.ico.calltracking_hover { width: 22px; height: 24px; background-position: -227px -112px; }
.ico.our_domain { width: 24px; height: 22px; background-position: -228px -339px; }
.ico.shopimplant { width: 25px; height: 20px; background-position: -228px -319px; }
.ico.basket_buy { width: 22px; height: 22px; background-position: -220px -90px; }
.ico.phone_white { width: 22px; height: 21px; background-position: -229px -69px; }
.ico.collapse { width: 21px; height: 21px; background-position: -229px -48px; }
.ico.plus_blue { width: 21px; height: 21px; background-position: -229px -201px; }
.ico.pig_black { width: 20px; height: 22px; background-position: -228px -297px; }
.ico.threearrows_white { width: 25px; height: 17px; background-position: -228px -280px; }
.ico.chart_black { width: 20px; height: 20px; background-position: -228px -260px; }
.ico.search_black { width: 20px; height: 20px; background-position: -236px 0px; }
.ico.world_black { width: 20px; height: 20px; background-position: -236px -240px; }
.ico.email_white_mini { width: 22px; height: 17px; background-position: 0px -87px; }
.ico.settings_arrow_black_mini { width: 26px; height: 14px; background-position: -90px 0px; }
.ico.additional_menu_ico { width: 19px; height: 19px; background-position: -236px -361px; }
.ico.layers_black { width: 20px; height: 18px; background-position: -22px -87px; }
.ico.ok_green_middle { width: 18px; height: 18px; background-position: -42px -87px; }
.ico.pen_black { width: 18px; height: 18px; background-position: -236px -222px; }
.ico.reload_middle { width: 18px; height: 18px; background-position: -40px -278px; }
.ico.status_active_mini { width: 18px; height: 18px; background-position: -154px -137px; }
.ico.status_archive_mini { width: 18px; height: 18px; background-position: -174px -188px; }
.ico.status_draft_mini { width: 18px; height: 18px; background-position: -239px -136px; }
.ico.status_inactive_mini { width: 18px; height: 18px; background-position: -240px -183px; }
.ico.status_moderation_mini { width: 18px; height: 18px; background-position: -242px -398px; }
.ico.status_rejected_mini { width: 18px; height: 18px; background-position: -242px -380px; }
.ico.status_stop_mini { width: 18px; height: 18px; background-position: -243px -467px; }
.ico.stop_middle { width: 18px; height: 18px; background-position: -243px -449px; }
.ico.history_gray_mini { width: 17px; height: 16px; background-position: -137px -113px; }
.ico.phone_black_mini { width: 17px; height: 16px; background-position: -137px -97px; }
.ico.search_gray_mini { width: 16px; height: 17px; background-position: -178px -261px; }
.ico.title_sources { width: 16px; height: 17px; background-position: -113px -338px; }
.ico.activeServices_gray_mini { width: 16px; height: 16px; background-position: -243px -432px; }
.ico.bank_gray_mini { width: 16px; height: 16px; background-position: -243px -416px; }
.ico.channel_arrow_mini { width: 16px; height: 16px; background-position: -240px -167px; }
.ico.dollar_gray_mini { width: 16px; height: 16px; background-position: -248px -262px; }
.ico.export_white_mini { width: 16px; height: 16px; background-position: -248px -297px; }
.ico.favicon { width: 16px; height: 16px; background-position: -249px -109px; }
.ico.fullStatistic_gray_mini { width: 16px; height: 16px; background-position: -250px -45px; }
.ico.import_white_mini { width: 16px; height: 16px; background-position: -250px -29px; }
.ico.payAdd_gray_mini { width: 16px; height: 16px; background-position: -250px -201px; }
.ico.payOutHistory_gray_mini { width: 16px; height: 16px; background-position: -242px -93px; }
.ico.payOut_gray_mini { width: 16px; height: 16px; background-position: -251px -77px; }
.ico.phone_gray_mini { width: 16px; height: 16px; background-position: -251px -61px; }
.ico.promo_gray_mini { width: 16px; height: 16px; background-position: -252px -345px; }
.ico.rub_white_mini { width: 16px; height: 16px; background-position: -253px -278px; }
.ico.services_gray_mini { width: 16px; height: 16px; background-position: -253px -329px; }
.ico.skype_black_mini { width: 16px; height: 16px; background-position: -253px -313px; }
.ico.statistic_gray_mini { width: 16px; height: 16px; background-position: -254px -217px; }
.ico.chat_black_mini { width: 17px; height: 15px; background-position: -255px -361px; }
.ico.phone_hangup_white { width: 25px; height: 10px; background-position: -120px -254px; }
.ico.account_black_mini { width: 16px; height: 15px; background-position: -256px -14px; }
.ico.history_black_mini { width: 16px; height: 15px; background-position: -256px -154px; }
.ico.sound_black_mini { width: 16px; height: 15px; background-position: -256px -247px; }
.ico.exit_black_mini { width: 17px; height: 14px; background-position: -256px -233px; }
.ico.collapse_mini { width: 15px; height: 15px; background-position: -257px -139px; }
.ico.expand_mini { width: 15px; height: 15px; background-position: -258px -183px; }
.ico.question_blue { width: 15px; height: 15px; background-position: -259px -434px; }
.ico.question_blue_dark { width: 15px; height: 15px; background-position: -259px -419px; }
.ico.exit_gray { width: 16px; height: 14px; background-position: -260px -405px; }
.ico.invoiceList_gray_mini { width: 14px; height: 16px; background-position: -260px -389px; }
.ico.person_black_mini { width: 14px; height: 15px; background-position: -261px -463px; }
.ico.email_black_mini { width: 16px; height: 13px; background-position: -260px -376px; }
.ico.video_black_mini { width: 16px; height: 13px; background-position: -60px -142px; }
.ico.add_black_mini { width: 14px; height: 14px; background-position: -261px -449px; }
.ico.add_white_mini { width: 14px; height: 14px; background-position: -231px -34px; }
.ico.cancel_white_mini { width: 14px; height: 14px; background-position: -178px -247px; }
.ico.copy_black_mini { width: 14px; height: 14px; background-position: -192px -188px; }
.ico.crm_black_mini { width: 14px; height: 14px; background-position: -257px -125px; }
.ico.decline { width: 14px; height: 14px; background-position: -113px -95px; }
.ico.delete { width: 14px; height: 14px; background-position: 0px -73px; }
.ico.edit_black_mini { width: 14px; height: 14px; background-position: -14px -73px; }
.ico.edit_white_mini { width: 14px; height: 14px; background-position: -28px -73px; }
.ico.error { width: 14px; height: 14px; background-position: -42px -73px; }
.ico.library_white_mini { width: 14px; height: 14px; background-position: -203px -46px; }
.ico.ok_black_mini { width: 14px; height: 14px; background-position: -60px -83px; }
.ico.ok_green_mini { width: 14px; height: 14px; background-position: -256px 0px; }
.ico.ok_white_mini { width: 14px; height: 14px; background-position: -74px -83px; }
.ico.phone_green_mini { width: 14px; height: 14px; background-position: -88px -81px; }
.ico.phone_red_mini { width: 14px; height: 14px; background-position: -217px -32px; }
.ico.prolong_black_mini { width: 14px; height: 14px; background-position: -127px -82px; }
.ico.refresh { width: 14px; height: 14px; background-position: -154px -123px; }
.ico.refresh_mini { width: 14px; height: 14px; background-position: -236px -20px; }
.ico.search_white_mini { width: 14px; height: 14px; background-position: -168px -123px; }
.ico.send { width: 14px; height: 14px; background-position: -102px -81px; }
.ico.settings_black_mini { width: 14px; height: 14px; background-position: 0px -59px; }
.ico.status_active_black_mini { width: 14px; height: 14px; background-position: -14px -59px; }
.ico.status_archive_black_mini { width: 14px; height: 14px; background-position: -28px -59px; }
.ico.status_draft_black_mini { width: 14px; height: 14px; background-position: -42px -59px; }
.ico.status_inactive_black_mini { width: 14px; height: 14px; background-position: -203px -32px; }
.ico.status_moderation_black_mini { width: 14px; height: 14px; background-position: -258px -93px; }
.ico.status_rejected_black_mini { width: 14px; height: 14px; background-position: -256px -169px; }
.ico.status_stop_black_mini { width: 14px; height: 14px; background-position: -93px -200px; }
.ico.delete_black_mini { width: 13px; height: 15px; background-position: -141px -82px; }
.ico.import_black_mini { width: 13px; height: 14px; background-position: -107px -200px; }
.ico.list_white_mini { width: 14px; height: 13px; background-position: -61px -129px; }
.ico.wallet_white_mini { width: 14px; height: 13px; background-position: -133px -241px; }
.ico.checkbox { width: 13px; height: 13px; background-position: -239px -154px; }
.ico.checkbox_checked { width: 13px; height: 13px; background-position: -120px -241px; }
.ico.calendar { width: 14px; height: 12px; background-position: -147px -241px; }
.ico.export_black_mini { width: 12px; height: 14px; background-position: -217px -46px; }
.ico.arrow_left_black_mini { width: 12px; height: 12px; background-position: -227px -136px; }
.ico.arrow_right_white_mini { width: 12px; height: 12px; background-position: -182px -135px; }
.ico.delete_mini { width: 12px; height: 12px; background-position: -182px -123px; }
.ico.minus_gray_mini { width: 12px; height: 12px; background-position: -264px -262px; }
.ico.plus_gray_mini { width: 12px; height: 12px; background-position: -264px -294px; }
.ico.rubles { width: 11px; height: 13px; background-position: -116px -82px; }
.ico.status_delete_black_mini { width: 11px; height: 12px; background-position: -265px -107px; }
.ico.info_blue_mini { width: 10px; height: 10px; background-position: -266px -38px; }
.ico.tab_arrow { width: 8px; height: 9px; background-position: -266px -29px; }
.ico.angleRight_gray_mini { width: 5px; height: 8px; background-position: -116px 0px; }
.ico.arrow_down_black_mini { width: 7px; height: 4px; background-position: 0px 0px; }
.ico.sort_asc { width: 7px; height: 4px; background-position: -7px 0px; }
.ico.sort_desc { width: 7px; height: 4px; background-position: -14px 0px; }
