html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
html{line-height:1;}
ol, ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption, th, td{text-align:left;font-weight:normal;vertical-align:middle;}
q, blockquote{quotes:none;}
q:before, q:after, blockquote:before, blockquote:after{content:"";content:none;}
a img{border:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
@font-face{font-family:"ProximaNova";src:url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");src:url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");font-style:normal;font-weight:400;}
@font-face{font-family:"ProximaNova";src:url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");src:url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");font-style:normal;font-weight:600;}
@font-face{font-family:"ProximaNova";src:url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");src:url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");font-style:normal;font-weight:600;}
@font-face{font-family:"ProximaNova";src:url("../fonts/ProximaNovaExtrabold/ProximaNova-Extrabld.eot");src:url("../fonts/ProximaNovaExtrabold/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExtrabold/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNovaExtrabold/ProximaNova-Extrabld.ttf") format("truetype");font-style:normal;font-weight:800;}
@font-face{font-family:"ProximaNova";src:url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");src:url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");font-style:normal;font-weight:900;}
@font-face{font-family:'ProximaNova';src:url("../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLight/ProximaNova-Light.otf") format("opentype"), url("../fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNovaLight/ProximaNova-Light.svg#../fonts/ProximaNovaLight/ProximaNova-Light") format("svg");font-weight:300;font-style:normal;}
@font-face{font-family:'UniSansHeavyCAPS';src:url("../fonts/UniSansHeavyCAPS/UniSansHeavyCAPS.eot?#iefix") format("embedded-opentype"), url("../fonts/UniSansHeavyCAPS/UniSansHeavyCAPS.otf") format("opentype"), url("../fonts/UniSansHeavyCAPS/UniSansHeavyCAPS.woff") format("woff"), url("../fonts/UniSansHeavyCAPS/UniSansHeavyCAPS.ttf") format("truetype"), url("../fonts/UniSansHeavyCAPS/UniSansHeavyCAPS.svg#UniSansHeavyCAPS") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'ProximaNova';src:url("../fonts/ProximaNovaThin/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaThin/ProximaNovaT-Thin.otf") format("opentype"), url("../fonts/ProximaNovaThin/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaThin/ProximaNovaT-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaThin/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg");font-weight:100;font-style:normal;}
html{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none;}
body{font-family:"ProximaNova";color:#666;font-size:18px;font-weight:400;background:white;}
*{min-height:0;}
a{text-decoration:none;color:#666;font-family:"ProximaNova";}
a:hover{text-decoration:underline;}
:focus{outline:none;}
h1, h2, h3, h4, h5, h6{display:block;margin:0;padding:0;line-height:normal;font-family:UniSansHeavyCAPS;color:#fff;}
h1{font-size:60px;color:#fff;text-transform:uppercase;}
h2{font-size:15px;color:white;}
h3{font-size:14px;}
h4{font-size:13px;}
h5{font-size:12px;}
h6{font-size:11px;}
ul{display:block;margin:0;padding:0;}
ul li{display:block;margin:0;padding:0;list-style:none;}
input, textarea, select, button{font-family:"ProximaNova";font-size:15px;vertical-align:baseline;}
label{vertical-align:baseline;}
textarea{overflow:auto;}
div, h1, h2, h3, p, a{max-height:5000em;}
a, input[type="submit"]{-webkit-transition:all 0.6s;-moz-transition:all 0.6s;transition:all 0.6s;}
a:focus, a:hover, button:focus, button:hover, .btn:focus, input:focus, textarea:focus, select:focus{outline:0;}
p{margin:0;padding:0;text-indent:0;font-family:"ProximaNova";}
.clearfix{*zoom:1;}
.clearfix:after{content:"";display:table;clear:both;}
.left{float:left;}
.right{float:right;}
.wrapper{margin:0 auto;width:960px;}
a, input[type="submit"], img{-webkit-transition:all 0.6s;-moz-transition:all 0.6s;transition:all 0.6s;}
.hlogo{display:block;background:url(../css/images/hlogo.png) no-repeat;height:42px;width:310px;color:#bcbcbc;font-size:17px;padding-left:98px;line-height:42px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-decoration:none;}
.top_head_panel{height:46px;padding:38px 0 0 0;}
.top_head_panel .hlogo{float:left;}
.top_head_panel .right-panel{float:right;}
.top_head_panel .right-panel .mail{float:left;margin:10px -4px 0 0;}
.top_head_panel .right-panel .mail a{display:inline-block;color:white;font-size:17px;font-weight:400;margin-left:11px;text-decoration:underline;}
.top_head_panel .right-panel .mail a:hover{text-decoration:none;}
.top_head_panel .right-panel .phone-panel{float:left;margin:1px 0 0 76px;text-align:right;}
.top_head_panel .right-panel .phone-panel .phone{margin-bottom:7px;}
.top_head_panel .right-panel .phone-panel .phone a{color:white;font-size:23px;font-weight:300;text-transform:uppercase;line-height:0;}
.top_head_panel .right-panel .phone-panel .phone a:hover{text-decoration:none;}
.top_head_panel .right-panel .phone-panel .order-call, .top_head_panel .right-panel .phone-panel .order-call-footer{color:#78a808;font-size:17px;font-weight:400;background:url(../css/images/order_call_hr.png) no-repeat right bottom;}
.top_head_panel .right-panel .phone-panel .order-call:hover, .top_head_panel .right-panel .phone-panel .order-call-footer:hover{opacity:0.5;text-decoration:none;}
.header_bg{background:url(../css/images/header_bg.jpg) no-repeat center 0;height:645px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.header_bg header{position:relative;}
.header_bg header .text_panel{margin-top:83px;text-align:center;}
.header_bg header .text_panel h1{font-family:UniSansHeavyCAPS;color:white;font-weight:400;line-height:75px;text-transform:uppercase;}
.header_bg header .text_panel h1 .yellow{color:#ffc300;}
.header_bg header .text_panel h1 .blue{color:#35b9e9;}
.header_bg header .text_panel h1 .pink{color:#ff0090;}
.header_bg header .text_panel .header_divider{margin:11px auto 28px auto;}
.header_bg header .text_panel p{color:#949494;font-size:27px;font-weight:300;}
.header_bg header .left_header{background:url(../css/images/header_left.png) no-repeat;height:251px;width:362px;position:absolute;left:-130px;top:407px;}
.header_bg header .header_arrow{left:50%;margin-left:-48px;position:absolute;top:505px;}
.colored_divider{background:url(../css/images/logo_divider.png) no-repeat center 0;height:12px;width:67px;}
.header_arrow{background:url(../css/images/header_arrow.png) no-repeat;height:95px;width:95px;display:block;}
.header_arrow:hover{background:url(../css/images/header_arrow_h.png) no-repeat;}
.icons-sprite, .plane, .nospam_icon, .box, .printer, .tshirt, .pda, .sofa, .doc, .sofa2, .ok, .pda2, .location, .plane2{background:url('images/sprites/icons-s05d730f0d4.png') no-repeat;}
.plane{display:inline-block;background-position:0 -458px;height:23px;width:23px;vertical-align:middle;}
.nospam_icon{display:inline-block;background-position:0 -601px;width:10px;height:10px;vertical-align:baseline;}
.box{display:block;background-position:0 -108px;width:129px;height:104px;}
.printer{display:block;background-position:0 0;width:134px;height:108px;}
.tshirt{display:block;background-position:0 -212px;width:130px;height:112px;}
.pda{display:block;background-position:0 -361px;width:37px;height:37px;}
.sofa{display:block;background-position:0 -541px;width:45px;height:37px;}
.doc{display:block;background-position:0 -504px;width:28px;height:37px;}
.sofa2{display:block;background-position:0 -324px;width:36px;height:37px;}
.ok{display:block;background-position:0 -398px;width:38px;height:37px;}
.pda2{display:inline-block;background-position:0 -578px;width:12px;height:23px;}
.location{display:inline-block;background-position:0 -435px;width:16px;height:23px;}
.plane2{display:inline-block;background-position:0 -481px;width:23px;height:23px;}
.tab2{background:url(../css/images/header_bottom_bg.png) no-repeat center top;height:616px;margin-top:-155px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.tab2 .wrapper{padding-top:136px;}
.tab2 h1{color:#2c2c2c;margin-top:16px;line-height:70px;}
.tab2 p{font-size:25px;line-height:40px;color:#2c2c2c;padding-top:13px;}
.tab2 p span{font-weight:800;}
.tab2 .timer{background:url(../css/images/action_bg.png) no-repeat;height:117px;width:341px;margin-top:-32px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 0 0 5px;}
.tab2 .timer .num{color:#5d5d5d;font-weight:100;font-size:65px;display:block;padding:7px 0 0 0;}
.tab2 .minutes{margin-left:1px;}
.tab2 .seconds{margin-left:1px;}
.tab2 .timer .text{font-size:20px;margin-top:-1px;}
.tab2 .hours, .tab2 .minutes, .tab2 .seconds{width:110px;float:left;text-align:center;}
.tab2 .hours .text,
.tab2 .minutes .text{color:#5d5d5d;}
.tab2 .seconds .text,
.tab2 .seconds .num{color:#f7008c;}
.tab2 .dsCountDown:after{content:'';clear:both;}
.tab2 .dsCountDown{display:inline-block;*display:inline;zoom:1;}
.tab2 .divider{margin:29px 0 39px 0;background:url(../css/images/action_divider.png) no-repeat;height:12px;width:67px;}
.tab2 .action_b_panel{width:589px;}
.tab2 .action_b_panel .left{color:#2c2c2c;font-size:20px;line-height:27px;font-weight:800;}
.tab2 .action_b_panel .right{margin-top:6px;}
.tab2 .right .form-panel{background:url(../css/images/action_right.png) no-repeat;height:524px;width:424px;margin:-33px -58px 0 0;padding:33px 58px 30px 62px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tab2 .right .form-panel p:first-child{font-size:25px;line-height:30px;color:#363636;text-align:center;padding-top:18px;}
.tab2 .right .form-panel p:first-child span{color:#35b9e9;font-weight:800;}
.tab2 .right .form-panel form{width:247px;margin:23px auto 0;}
.tab2 .right .form-panel form input{margin:0 0 15px 0;width:100%;}
.nospam{text-align:center;margin-top:-19px;}
.nospam p{display:inline-block;color:#626262;font-size:16px;margin-left:8px;}
textarea{padding:21px 25px !important;height:auto !important;}
input[type="text"], input[type="tel"], input[type="email"], textarea{resize:none;outline:none;border:1px solid #dadada;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 25px;color:#626262;font-size:18px;line-height:30px;height:57px;width:100%;}
input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover, textarea:hover{border:1px solid #b9b9b9;}
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, textarea:focus{border:1px solid #18a9de;}
input[type="submit"], .btn{background:url(../css/images/btn.png) repeat-x, url(../css/images/btn_focus.png) repeat-x -100% -100%, url(../css/images/btn_hover.png) repeat-x -100% -100%;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;border:3px solid #f2f2f2;box-shadow:0 0 13px rgba(0, 0, 0, 0.39);-moz-box-shadow:0 0 13px rgba(0, 0, 0, 0.39);-webkit-box-shadow:0 0 13px rgba(0, 0, 0, 0.39);color:white;font-size:20px;font-weight:300;padding:16px 24px 15px;text-align:center;cursor:pointer;}
input[type="submit"]:hover, .btn:hover{background:url(../css/images/btn_hover.png) repeat-x;text-decoration:none;}
input[type="submit"]:focus, .btn:focus{background:url(../css/images/btn_focus.png) repeat-x;text-decoration:none;}
.tab3{padding-top:86px;}
.tab3 .left{margin-left:-2px;}
.tab3 h1{color:#222;font-size:70px;line-height:75px;text-transform:uppercase;}
.tab3 .divider{margin:15px 0 8px 2px;}
.tab3 p{font-size:25px;line-height:40px;color:#2c2c2c;padding:13px 0 13px 4px;}
.tab3 .cup{background:url(../css/images/big_cup.png) no-repeat;height:423px;width:553px;margin:41px 0 0 -157px;position:relative;z-index:2;}
.tab3 .tab_pills{width:518px;margin-top:-29px;}
.tab3 .tab_pills li{float:left;width:200px;height:342px;display:block;position:relative;z-index:3;}
.tab3 .tab_pills li:nth-child(2n){margin-left:96px;}
.tab3 .tab_pills li:nth-child(2) img{margin:8px 0 0 -6px;}
.tab3 .tab_pills li:nth-child(3) img{padding:2px 0 0 9px;}
.tab3 .tab_pills li:nth-child(4) img{padding:0 0 0 3px;margin-top:-2px;}
.tab3 .tab_pills li .image{width:200px;height:200px;}
.tab3 .tab_pills li h2{margin:-4px 0 0 51px;}
.tab3 .tab_pills li h2 a{color:#222;font-size:20px;line-height:27px;font-weight:800;}
.tab3 .tab_pills li .full-entry-link{margin:11px 0 0 51px;}
.tab3 .tab_pills li .full-entry-link a{color:#679007;font-size:18px;text-decoration:none;border-bottom:1px solid #679007;}
.fonts-and-divider h1{color:#222;font-size:70px;line-height:75px;text-transform:uppercase;text-align:center;}
.fonts-and-divider .divider{margin:16px auto 25px;}
.fonts-and-divider .divider + p{color:#4b4b4b;font-size:27px;text-align:center;}
.tab4{background:url(../css/images/tab_top.png) no-repeat center top, #f2f2f2;min-height:1095px;margin-top:-133px;padding-top:187px;position:relative;padding-bottom:217px;}
.tab4 .left_shadow{background:url(../css/images/tab_left.png) no-repeat;min-height:1368px;position:absolute;top:24px;left:0;width:100%;}
.tab4 .wrapper{position:relative;}
.tab4 .production{padding:74px 0 0 0;}
.tab4 .production li{display:none;width:222px;height:319px;box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;margin:0 24px 28px 0;float:left;background:#fff;position:relative;}
.tab4 .production li:nth-child(4n){margin-right:0;}
.tab4 .production li:hover{background:white url(../css/images/bottom_border.png) no-repeat center 304px;}
.tab4 .production li:hover span{color:#679007;text-decoration:underline;}
.tab4 .production li a{display:block;width:100%;height:100%;position:absolute;left:0;top:0;}
.tab4 .production li .image{width:193px;height:193px;margin:24px auto 0;text-align:center;white-space:nowrap;}
.tab4 .production li .image .helper{display:inline-block;height:100%;vertical-align:middle;}
.tab4 .production li .image img{vertical-align:middle;max-height:193px;max-width:193px;}
.tab4 .production li p{padding:21px 0 0 0;font-size:20px;line-height:29px;color:#8e8e8e;text-align:center;}
.tab4 .production li p span{color:#222;font-weight:800;}
.tab4 .btn-center{margin:39px auto 0;}
.tab4 .btn-center a{padding:16px 35px;}
.btn-center{margin-left:auto;margin-right:auto;text-align:center;}
.tab5{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background:url(../css/images/tab5_bg.png) no-repeat center top;height:888px;margin-top:-190px;position:relative;}
.tab5 .wrapper{position:relative;}
.tab5 .wrapper h1{color:#323b3c;font-size:70px;line-height:75px;padding:148px 0 0 0;}
.tab5 .wrapper .black_divider{background:url(../css/images/black_divider.png) no-repeat;height:12px;width:67px;margin:15px 0 26px;}
.tab5 .wrapper p{color:#65777a;font-size:27px;}
.tab5 .wrapper .bigimage{background:url(../css/images/big_shirt.png) no-repeat;height:609px;width:599px;top:-27px;right:-144px;position:absolute;}
.tab5 .wrapper .bottom_cont{width:960px;height:449px;background:url(../css/images/tab5_left_shadow.png) no-repeat left top;margin:72px auto 0;position:relative;z-index:3;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.tab5 .wrapper .bottom_cont ul{padding:36px 0 0 0;}
.tab5 .wrapper .bottom_cont li{float:left;display:block;width:326px;height:260px;border-right:1px solid rgba(80, 85, 87, 0.5);}
.tab5 .wrapper .bottom_cont li:first-child{width:316px;}
.tab5 .wrapper .bottom_cont li:first-child .image{padding:3px 0 0 28px;}
.tab5 .wrapper .bottom_cont li:first-child p{padding:34px 0 0 26px;}
.tab5 .wrapper .bottom_cont li:nth-child(2) .image{padding:5px 0 0 7px;}
.tab5 .wrapper .bottom_cont li:nth-child(2) p{padding:35px 0 0 0;}
.tab5 .wrapper .bottom_cont li:last-child{border:0;width:315px;}
.tab5 .wrapper .bottom_cont li:last-child .image{margin-left:84px;}
.tab5 .wrapper .bottom_cont li:last-child p{padding:40px 0 0 0;margin-left:-18px;}
.tab5 .wrapper .bottom_cont li .image{width:134px;height:112px;text-align:center;white-space:nowrap;margin:29px auto 0;}
.tab5 .wrapper .bottom_cont li p{text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);color:white;font-size:20px;line-height:27px;text-align:center;padding:45px 0 0 0;font-weight:800;}
.tab5 .wrapper .bottom_cont .btn-center{margin-top:61px;}
.tab6{padding:92px 0 0 0;}
.tab6 .divider{margin:13px auto 25px;}
.tab6 .divider + p{font-weight:300;}
.tab6 ul{padding:59px 0 0 0;}
.tab6 ul li{counter-increment:item;width:304px;margin:0 24px 65px 0;display:block;float:left;overflow:hidden;}
.tab6 ul li:before{content:counter(item);width:42px;height:42px;border:3px solid #e8e8e8;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;display:block;text-align:center;line-height:42px;margin:0 auto;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;transition:all 0.6s;color:#6e6e6e;font-size:20px;font-weight:800;}
.tab6 ul li:hover:before{border:3px solid #6a9507;color:#6a9507;}
.tab6 ul li .icon{height:37px;margin:32px auto 20px;}
.tab6 ul li .pda{margin-left:135px;}
.tab6 ul li p{color:#222;font-size:20px;line-height:29px;font-weight:600;text-align:center;}
.tab6 ul li:nth-child(3n){margin-right:0;}
.tab6 ul li:last-child{background:url(../css/images/send_request_bg.png) no-repeat 83px top;min-height:213px;}
.tab6 ul li:last-child:before{display:none;}
.tab6 ul li .btn{width:181px;margin:78px auto 0;display:block;padding:16px 26px;}
.tab7{background:#f2f2f2;overflow:hidden;padding-bottom:175px;}
.tab7 .top{background:url(../css/images/tab_top.png) no-repeat center top;height:142px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.tab7 .wrapper{padding-top:34px;position:relative;}
.tab7 h1{text-align:left;}
.tab7 .divider{margin-left:0;margin-bottom:0;}
.tab7 .left{width:184px;margin-right:122px;}
.tab7 .right{float:none;}
.tab7 .gb_container{width:960px !important;margin:64px auto 0 auto;}
.tab7 .gb_container .slick-slide{width:960px;margin:0 auto;}
.tab7 .gb_container .gb_item .image{width:100px;height:100px;margin:0 auto 25px;}
.tab7 .gb_container .gb_item .image img{max-width:100px;height:auto;}
.tab7 .gb_container .gb_item .left{padding-bottom:15px;}
.tab7 .gb_container .gb_item .left p{color:#1b1b1b;font-size:20px;text-align:center;line-height:28px;}
.tab7 .gb_container .gb_item .left .vertical-divider{width:1px;height:40px;margin:17px auto 0;background:#cfcfcf;}
.tab7 .gb_container .gb_item .left .socials{margin:15px auto 0;width:58px;height:58px;-webkit-box-shadow:0 0 24px rgba(0, 0, 0, 0.19);-moz-box-shadow:0 0 24px rgba(0, 0, 0, 0.19);box-shadow:0 0 24px rgba(0, 0, 0, 0.19);-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;overflow:hidden;display:block;}
.tab7 .gb_container .gb_item .left .socials:hover{-webkit-box-shadow:0 0 24px rgba(0, 0, 0, 0.33);-moz-box-shadow:0 0 24px rgba(0, 0, 0, 0.33);box-shadow:0 0 24px rgba(0, 0, 0, 0.33);}
.tab7 .gb_container .gb_item .left .socials:hover .vk{background:url(../css/images/vk_hover.png) no-repeat;}
.tab7 .gb_container .gb_item .left .socials:hover .fb{background:url(../css/images/fb_hover.png) no-repeat;}
.tab7 .gb_container .gb_item .left .socials span{-webkit-transition:all 0.6s;-moz-transition:all 0.6s;transition:all 0.6s;}
.tab7 .gb_container .gb_item .left .socials .vk{display:block;background:url(../css/images/vk_icon.png) no-repeat, url(../css/images/vk_hover.png) no-repeat -999px -999px;height:18px;width:31px;margin:20px auto 0;}
.tab7 .gb_container .gb_item .left .socials .fb{display:block;background:url(../css/images/fb.png) no-repeat, url(../css/images/fb_hover.png) no-repeat -999px -999px;height:23px;width:13px;margin:18px auto 0;}
.tab7 .gb_container .gb_item .right h2{color:#353535;font-size:25px;font-weight:800;padding-bottom:20px;}
.tab7 .gb_container .gb_item .right p{color:#151515;font-size:18px;line-height:30px;}
.tab7 .gb_container .gb_item .right p .grey{color:#666;font-size:18px;line-height:19px;}
.tab7 .gb_container .gb_item .right p .purple{color:#ff0090;}
.tab7 .slick-dots{position:absolute;right:0;top:-203px;}
.tab7 .slick-dots li{float:left;margin-left:10px;}
.tab7 .slick-dots li a{width:52px;height:52px;border:3px solid #e8e8e8;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;display:block;text-align:center;line-height:52px;margin:0 auto;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;transition:all 0.6s;color:#666;font-size:20px;}
.tab7 .slick-dots li a:hover{background:#6a9408;border:3px solid #6a9408;color:#f1f1f1;text-decoration:none;}
.tab7 .slick-dots li.slick-active a{background:#6a9408;border:3px solid #6a9408;color:#f1f1f1;text-decoration:none;}
.tab8_margin{margin-top:-129px;}
.tab8_margin .wrapper{position:relative;}
.tab8_margin .wrapper .next-tab{position:absolute;left:50%;margin-left:-45px;top:16px;}
.tab9{margin-top:53px;}
.tab9 h1{text-align:center;}
.tab9 .content{padding:28px 0 0 2px;}
.tab9 .content ul li{display:inline-block;}
.tab9 .content ul li .icon{margin-right:10px;vertical-align:top;}
.tab9 .content ul li p{display:inline-block;color:#5a5a5a;font-size:17px;line-height:26px;}
.tab9 .content ul li p a{color:#5a5a5a;font-size:17px;}
.tab9 .content ul li p a.mail{text-decoration:underline;}
.tab9 .content ul li p a.phone{text-transform:uppercase;}
.tab9 .content ul li:nth-child(1){margin-left:33px;}
.tab9 .content ul li:nth-child(2){margin-left:69px;position:relative;top:-26px;}
.tab9 .content ul li:nth-child(3){margin-left:67px;position:relative;top:-26px;}
.tab9 .map{background:url(../css/images/map_bg.png) no-repeat;height:449px;width:978px;margin-left:-9px;margin-top:35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 0 0 18px;position:relative;}
.tab9 .map .inner{background:#fff;height:406px;}
.tab10{background:#f2f2f2;overflow:hidden;margin-top:-168px;}
.tab10 .top{background:url(../css/images/tab_top.png) no-repeat center top;height:142px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.tab10 h1{text-align:center;padding-top:66px;}
.tab10 .divider{margin-top:13px;}
.tab10 .divider + p{font-weight:300;}
.tab10 .content ul{padding:56px 0 78px 0;float:left;width:480px;}
.tab10 .content ul:last-child{float:right;}
.tab10 .content ul li{margin-bottom:43px;}
.tab10 .content ul li:before{content:"";width:48px;height:2px;background:#77a608;display:block;margin-bottom:10px;}
.tab10 .content ul li:last-child{margin-bottom:0;}
.tab10 .content ul li a{color:#4b4b4b;font-size:20px;text-decoration:none;font-weight:300;border-bottom:2px solid #d6d6d6;}
.tab10 .content ul li a:hover{color:#537504;border-bottom:2px solid #537504;}
.tab11{text-align:center;padding:46px 0 64px;}
.tab11 h1{font-size:40px;}
.tab11 .divider{margin:-7px auto 20px;}
.tab11 .ask_question{font-size:20px;text-decoration:none;color:#537504;border-bottom:2px solid #537504;}
footer{height:108px;background:#272727;}
footer .hlogo{float:left;}
.box-modal{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;position:relative;background:#f4f4f4;border:1px solid #f4f4f4;}
.box-modal:before{content:"";position:absolute;display:block;top:12px;left:-8px;right:-8px;bottom:-8px;border:14px solid #5f8607;border-right-width:10px;border-left-width:10px;z-index:-1;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.box-modal .close{background:url(../css/images/modal_close_black.png) no-repeat;height:13px;width:13px;position:absolute;top:12px;right:12px;}
.box-modal .close:hover{opacity:0.6;}
.modal-cont{position:relative;}
.modal-cont h2{color:#363636;font-size:25px;text-align:center;text-transform:none;padding:29px 0;font-family:"ProximaNova";}
.form-control{width:247px;margin:0 auto;padding:0 29px;}
.form-control input, .form-control textarea{margin:0 0 15px 0;}
.form-control textarea{height:194px !important;}
.form-control input[type="submit"]{margin-bottom:44px;width:100%;}
.form-control .nospam{padding-bottom:30px;}
.result_heading{color:white;font-size:25px;line-height:30px;text-align:center;text-transform:none;padding:34px 0 0 0;font-weight:300;}
.result_content{color:#e9ffb7;font-size:20px;line-height:28px;text-align:center;text-transform:none;background:url(../css/images/white_divider.png) no-repeat center top;padding:31px 0 39px 0;margin-top:22px;font-weight:300;}
#feedback-modal-box{border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;background:#5f8607;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;width:318px;min-height:226px;text-align:center;}
#feedback-modal-box:before{border-left:0;border-right:0;left:0;right:0;bottom:-5px;border-bottom:14px solid #a7d440;}
#feedback-modal-box .close{background:url(../css/images/close_modal.png) no-repeat;height:13px;width:13px;position:absolute;top:20px;right:19px;cursor:pointer;}
#feedback-modal-box .close:hover{opacity:0.6;}
.faq-title{color:#363636;font-size:25px;line-height:30px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:29px;}
.faq-content{width:670px;color:#363636;font-size:17px;line-height:27px;padding:39px 35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px;border-bottom-left-radius:7px;-moz-border-radius-bottomright:7px;-webkit-border-bottom-right-radius:7px;border-bottom-right-radius:7px;}
.modal-item-title{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:670px;padding:29px;}
.modal-item-title h2{color:#363636;font-size:25px;line-height:30px;text-align:center;padding:0 0 29px;}
.modal-item-title .left{margin-right:22px;width:247px;}
.modal-item-title .left input{margin-bottom:14px;}
.modal-item-title .left input:last-child{margin-bottom:0;}
.modal-item-title .right{width:332px;}
.modal-item-title .right input{width:100%;}
.modal-item-title .right input[type="submit"]{height:56px;line-height:22px;margin-top:-2px;}
.modal-item-content{width:670px;color:#363636;font-size:17px;line-height:27px;padding:39px 35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px;border-bottom-left-radius:7px;-moz-border-radius-bottomright:7px;-webkit-border-bottom-right-radius:7px;border-bottom-right-radius:7px;}
.modal-item-content h3{color:#608606;font-size:20px;font-weight:400;font-family:"ProximaNova";padding:0 !important;margin:0 !important;line-height:20px;}
.modal-item-content .line{width:38px;height:2px;background:#e5e5e5;margin:-6px 0 14px;}
@media only screen and (max-width:1000px){.tab5{width:1000px;overflow:hidden;}
.form-panel{background:#F4F4F4 !important;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;width:304px !important;padding:0 29px 13px !important;margin-right:5px !important;margin-top:-1px !important;height:459px !important;}
.all_wrap{width:1000px;overflow:hidden;}
.left_header{background:url(../css/images/left_header_mobile.png) no-repeat !important;height:251px !important;width:307px !important;position:absolute !important;left:-75px !important;top:407px !important;}
.tab3 .cup{right:-101px;}
}
@media only screen and (max-width:1244px){.left_header{background:url(../css/images/left_header_mobile.png) no-repeat !important;height:251px !important;width:307px !important;position:absolute !important;left:-75px !important;top:407px !important;}
.tab3 .cup{right:-101px;}
}
.multiline{line-height:35px;}
p.about_pp{font-size:12px;padding:5px 0 0 0;}
.file_upload{position:relative;overflow:hidden;width:332px;height:55px;background-color:#e7e7e7;line-height:55px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.file_upload > button, .file_upload > div{cursor:pointer;}
.file_upload > button{float:right;height:100%;}
.file_upload input[type=file]{position:absolute;top:0;visibility:hidden;}
.file_upload{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;color:#626262;font-size:18px;font-weight:400;padding:0 0 0 24px;margin-bottom:17px;}
.file_upload > button{width:10px;height:10px;background:url(../css/images/plus.png) no-repeat;overflow:hidden;white-space:nowrap;border:none;outline:0;margin:22px 13px 0 0;}
.file_upload:hover > button{opacity:0.7;}
.file_upload:active > button{opacity:0.5;}